@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --main-bg-color: #f7f7f7;
  --warning-color: #bb1313;
  --font-color: #6e6c6c;
  --shadow-color: #cac6c6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  background-color: var(--main-bg-color);
}
.container-base {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*********** Header ****************/
header {
  width: 100vw;
}
.title-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.logo {
  height: 70px;
}
.title {
  color: var(--font-color);
  margin-top: 1rem;
}
.title h1 {
  font-weight: 400;
  margin-right: 1rem;
}
.menu-btn {
  height: 70px;
  width: 65px;
  padding-right: 0.5rem;
  color: var(--font-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-container {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--shadow-color);
  border-bottom: 1px solid var(--shadow-color);
  display: flex;
  justify-content: center;
}
.status {
  font-weight: 600;
  font-size: large;
  margin: auto 1rem;
}
.act-btn {
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: var(--warning-color);
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

/************** Main ***************/
.container-main {
  overflow: scroll;
  height: 100vh;
  z-index: 1;
}
main {
  overflow: scroll;
  position: relative;
}
/************* Login ****************/
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 657px;
  position: absolute;
  width: 100vw;
  z-index: 10;
  top: 145px;
  padding-top: 5rem;
}
.z {
  z-index: 1;
}
.menu-modal-container {
  height: 100%;
  width: 100vw;
  background-color: black;
  position: absolute;
  top: 0px;
  bottom: 0px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.menu-item {
  list-style-type: none;
  font-size: xx-large;
  cursor: pointer;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-info {
  font-size: large;
  margin: 1rem;
}
.log-btn {
  border: 1px solid #6e6c6c;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  box-shadow: #6e6c6c 2px 2px 2px 2px;
  cursor: pointer;
}
.log-btn:active {
  transform: scale(0.9);
}
/************* Card ***************/
.card {
  height: 17vh;
  margin: 0.5rem 1rem;
  padding: 1rem;
  border: 7px solid var(--main-bg-color);
  border-radius: 10px 2px 10px 2px;
  box-shadow: var(--shadow-color) 2px 2px 2px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--font-color);
  font-weight: 500;
}
.warning-icon {
  color: var(--warning-color);
}
.container-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.room {
  font-weight: 800;
}
.info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.temp {
  margin: 0 1rem;
}
.humid {
  margin: 0 1rem;
}
.reset-btn {
  font-weight: 400;
  padding: 0.5rem 0.5rem;
  background-color: var(--warning-color);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  height: 35px;
  margin: auto;
}
/******************************************/
/************* Helper classes ************/
/********* to be used in Javascript ********/
/******************************************/
/********* Adds red border to card *********/
.alarm {
  border: 7px solid var(--warning-color);
  border-radius: 10px 2px 10px 2px;
}
/********* Adds red text to status *********/
.alert {
  color: var(--warning-color);
}
/********* Removes element from DOM *********/
.hide {
  visibility: hidden;
}
.nodisplay {
  display: none;
}

.container-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

@media screen and (max-width: 355px) {
  .card {
    font-size: x-small;
    font-weight: 800;
  }
  header {
    font-size: x-small;
  }
  .act-btn {
    margin: auto;
  }
  .reset-btn {
    margin: auto 0;
  }
}

@media screen and (min-width: 550px) {
  .card,
  header {
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .card {
    flex-direction: row;
  }
  .title-container {
    width: 90vw;
    justify-self: center;
  }
  .status-container {
    width: 100vw;
  }
  .reset-btn {
    margin: auto 0;
  }
  .status {
    font-size: x-large;
  }
  .login-container {
    top: 155px;
    height: 870px;
  }
}
@media screen and (min-width: 980px) {
  main {
    width: 950px;
    margin: 0 auto;
  }

  .card,
  header {
    font-size: large;
  }
  .reset-btn {
    margin: auto 0;
  }
  .status {
    font-size: x-large;
  }
  .login-container {
    top: 155px;
    height: 1200px;
  }
}
